.testimonials{
    /* border: 1px solid red; */
    --padding-inline:3px;
}
.testimonial_card{
    width:210px !important;
    height:340px !important;
    padding-top: 2rem;
   
    margin-inline:auto;
    border: 2px solid #141414;
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 10px -5px ;
}
.slick-slide{
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
}

.slick-center{
    transform: scale(0.9);
}
.testimonial_card_slider >.slick-list
{
  
    position: relative;
    top:-10px;
    left:5px;
    display: block;
    overflow: hidden;
    margin-inline: 1px !important;
    margin:0;
    padding: 0;
   
}

.testimonial_content{
    font-size: var(--fs-200);
    padding-top:2rem;
    padding-inline:1.5rem !important;
}
.testimonial_owner,
.designation{
    width:100%;
    justify-content: center;
    white-space: nowrap;
    font-weight:600;
    font-size: var(--fs-100);
}
.testimonial_owner{
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}
.testimonial_card_slider{
    /* border: 1px solid red; */
    padding-left:10px;
  margin-top: 0.5rem;
   flex-wrap: wrap;
   --gap:2rem !important;
}

@media (max-width:320px){
   
    .testimonial_content{
        font-size: var(--fs-100);
        padding-top:2rem;
        padding-inline:1rem;
    }
}
@media (min-width:375px){
    .testimonial_card{
        width:250px !important;
        height:390px !important;
        padding-top: 1.5rem;
    }
    .testimonial_card_slider >.slick-list
{
   
   
    top:-20px;
    left:0;
    
    margin-inline: 9px !important;
   
   
}
}
@media (min-width:425px){
    .testimonial_card{
        width:300px !important;
        height:380px !important;
        padding-top: 2rem !important;
    }
    .testimonial_card_slider >.slick-list
{
   

    top:-20px;
    left:0;
    margin-left:10px !important;
    margin-right:30px !important;
   
   
}
}
@media (min-width:768px){
    
    
    .testimonial_card_slider{
        --gap:4rem !important;
    }
    .testimonial_owner{
        margin-top: 0.5rem;
    }
    .testimonial_card{
        width:260px !important;
        height:390px !important;
        padding-top: 2rem;
    }
    .testimonial_card_slider >.slick-list
{
    padding:0  !important;
   
    top:-20px;
    left:0;
    
    margin-inline: 10px !important;
   
   
}
    .slick-dots{
        /* border:1px solid red; */
        display:flex;
        justify-content: center;
       color: #141414;
      margin:0;
     left:30px;
    }
}
@media (min-width:1024px) {
    .testimonial_card{
        height:400px;
       
    } 
    .testimonial_card_slider{
        
       
        padding-left: 50px !important;
       flex-wrap: wrap;
       --gap:2rem !important;
    }
    .testimonial_card{
        width:300px !important;
        height:350px !important;
        padding-top: 2rem;
    }
    .testimonial_card_slider >.slick-list
    {
        padding: 0  !important;
       
        top:-20px;
        left:0;
        
        margin-inline: 5px !important;
       
       
    }

    
}

@media (min-width:1440px) {
    .testimonial_card_slider{
        /* border: 1px solid red; */
        padding-left: 150px !important;
       flex-wrap: wrap;
       --gap:2rem !important;
    }

    .testimonial_owner{
        margin-top: 3rem;
    }
}